[submodule "ITMO-6-InformationSystemsDesign-TransLogix"]
	path = lab-1/ITMO-6-InformationSystemsDesign-TransLogix
	url = https://github.com/MyEducation11235/ITMO-6-InformationSystemsDesign-TransLogix.git